.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #edf0f1; /* gris muy claro */
}

.login-form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-box {
  width: 80%;
  max-width: 400px;
  background: transparent;
  padding: 20px;
  text-align: left;
}
